aiofiles
aiohttp
asyncio
beautifulsoup4
dnspython
ffmpeg-python
future==0.18.3
gitpython
httpx[http2]
hachoir
heroku3
motor==3.3.2
motor
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pymongo==4.6.3
python-dotenv
requests
SafoneAPI==1.0.65
speedtest-cli
spotipy
tgcrypto
speedtest-cli
unidecode
urllib3
wget
yt-dlp
youtube-search
youtube-search-python
pyyaml
git+https://github.com/KurimuzonAkuma/pyrogram@dev
pyromod
